<div class="dark-bg">
  <div class="container">
    <h2>About</h2>

    <p class="lead">Digital Wanganui is an online directory of services, products, organisations and individuals involved in the digital space and provided from Whanganui district. Like everywhere, all Wanganui organisations are undergoing more for less transformation inspired by digital technology. The Internet especially is disrupting business as usual. Fast change requires fast learning and a spirit of experimentation. It also requires involvement with other people outside organisation boundaries with experience and skills in the paradigm shift underway. This directory is a signpost to local people with a clue who can help realise opportunities. Together let's innoculate against zombiehood and revitalise our prosperity. Don't drag your feet! Who ya gonna call?</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Creation Myth</h3>

      <p>Frank, a local businessperson and manager of a number of websites, had trouble finding a programmer of a particular flavour. At a 2014 Intelligent Community forum he floated the suggestion of an IT Directory for Wanganui to make it easier to find technical talent. Shane Middlemiss, former government directory website manager and now online strategy consultant convened a virtual krewe including web developer Richard Collins and designer Joe Salmon and wrote a pitch to create a digital directory online. Marianne Archibald, Digital Coordinator at WDC agreed to fund about half the cost and the team is seeking further support to see it grow.
      </p>
    </div>
    <div class="col-sm-6">
      <h3 id="donate">Donate to Support</h3>
      <p>This directory is crowd-funded and requires further donations to extent its life and add functionality.  If you see value in the directory for Whanganui and wish to sponsor its ongoing development, $1,000 or more will see you credited as a Principal Sponsor with your name, logo and website link on our home page and any other amount above $25 will become an Other Sponsor, also featured on the home page.</p>

      <p>Please contact {{obfEmail "digitalwhanganui@digitalwhanganui.org.nz" "Shane"}} to discuss this possibility further.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 id="faq">Frequently Asked Questions</h2>
      <h5 id="faq-artwork">What are the specifications for logos/images in the directory?</h5>
      <p>Below are the specifications for logos/images uploaded to the directory. You probably don't need to understand these &ndash; just upload your image and see if it works and looks good.</p>
      <p>Images must be in the JPEG, PNG or GIF format and can be up to 10MB in size. Generally you will want to use a JPEG for a photo, or a PNG for a logo.</p>
      <p>Images must be at least 692 pixels wide or 606 pixels high. The image will be scaled automatically to fit in a 692x606px and 255x223px box (8:9 aspect ratio).</p>
      <p>Images are displayed on a white background. So if you have multiple versions, upload one appropriate for use on light backgrounds.</p>
      <p>If you need assistance preparing your image, we suggest you contact one of Whanganui's talented <a href="/browse/services/design/none/">Graphic Designers</a>.</p>

      <h5 id="faq-feedback">Where can I send feedback about this website?</h5>
      <p>Please contact {{obfEmail "digitalwhanganui@digitalwhanganui.org.nz" "Shane"}}.</p>

      <h5 id="faq-feedback">How do I edit my listing?</h5>
      <p>Click on the 'edit link' that was emailed to you when you created or last edited your listing. If you have lost that email, go <a href="/login/lost">here</a> to get a new link.</p>

    </div>
  </div>
</div>