<div class="dark-bg">
  <div class="container">
    <h2>About</h2>

    <p class="lead">Digital Wanganui is an online directory of services, products, organisations and individuals involved in the digital space and provided from Whanganui district. Like everywhere, all Wanganui organisations are undergoing more for less transformation inspired by digital technology. The Internet especially is disrupting business as usual. Fast change requires fast learning and a spirit of experimentation. It also requires involvement with other people outside organisation boundaries with experience and skills in the paradigm shift underway. This directory is a signpost to local people with a clue who can help realise opportunities. Together let's innoculate against zombiehood and revitalise our prosperity. Don't drag your feet! Who ya gonna call?</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Creation Myth</h3>

      <p>Frank, a local businessperson and manager of a number of websites, had trouble finding a programmer of a particular flavour. At a 2014 Intelligent Community forum he floated the suggestion of an IT Directory for Wanganui to make it easier to find technical talent. Shane Middlemiss, former government directory website manager and now online strategy consultant convened a virtual krewe including web developer Richard Collins and designer Joe Salmon and wrote a pitch to create a digital directory online. Marianne Archibald, Digital Coordinator at WDC agreed to fund about half the cost and the team is seeking further support to see it grow.
      </p>
    </div>
    <div class="col-sm-6">
      <h3 id="donate">Donate to Support</h3>
      <p>This directory is crowd-funded and requires further donations to extent its life and add functionality.  If you see value in the directory for Whanganui and wish to sponsor its ongoing development, $1,000 or more will see you credited as a Principal Sponsor with your name, logo and website link on our home page and any other amount above $25 will become an Other Sponsor, also featured on the home page.</p>

      <p>Please contact {{obfEmail "digitalwhanganui@digitalwhanganui.org.nz" "Shane"}} to discuss this possibility further.</p>
    </div>
  </div>
</div>