{{template "category-modal" .}}

{{if .Submission.Listing.Id.Valid }}
  <h1>Edit Listing</h1>
{{else}}
  <h1>Add Me</h1>
{{end}}

{{if .Submission.Errors}}<div class="alert alert-danger" role="alert">There was a problem with your submission. Please fix all problems marked in red below and resubmit. TODO Fix bad england</div>{{end}}

<p>Please fill out this form if you would like to be added to the Digital Whanganui directory. Here is how is works:</p>
  <ul>
    <li>Listings are free of charge, but a <a href="/about#donate">donation</a> would be appreciated to help with our costs.</li>
    <li>Your listing will be reviewed by our team before it is published in the directory.</li>
    <li>Listings will only be published for individuals and organisations resident in Whanganui</li>
    <li>Once published you can update or remove your listing at any time.</li>
    <li>To keep the directory up to date, we require you to review your listing once every 6 months. We will send you a reminder email.</li>
  </ul>

<form id="addmeform" class="form-horizontal" role="form" method="POST" novalidate>

  <h3>Contact for Directory Administration</h3>
  <p><small>These details are for administrative purposes and will not be published.</small></p>

  <div class="form-group">
    <label for="adminFirstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="adminFirstName" name="adminFirstName" value="{{.Submission.Listing.AdminFirstName}}" placeholder="First Name">
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.AdminFirstName}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <label for="adminLastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="adminLastName" name="adminLastName" value="{{.Submission.Listing.AdminLastName}}" placeholder="Last Name">
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.AdminLastName}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <label for="adminPhone" class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="adminPhone" name="adminPhone" value="{{.Submission.Listing.AdminPhone}}" placeholder="Phone">
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.AdminPhone}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <label for="adminEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="adminEmail" name="adminEmail" value="{{.Submission.Listing.AdminEmail}}" placeholder="Email">
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.AdminEmail}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox col-sm-offset-2 col-sm-10">
        <label>
            <input type="checkbox" name="WCCExportOK" value="1" {{if .Submission.Listing.WCCExportOK}}checked{{end}}>Pass my details on to the WCC Digital Coordinator
        </label>
    </div>
  </div>

  <h3>Your Published Listing</h3>
  <p><small>These details will be published in your listing. Use the preview button below to see what the listing will look like.</small></p>

  <div class="form-group">
    <label for="isOrg" class="col-sm-2 control-label">Listing Type</label>
    <div class="col-sm-10">
      <select id="isOrg" name="isOrg" class="form-control width-auto">
        <option {{if not .Submission.Listing.IsOrg}}selected{{end}} value="0">Individual</option>
        <option {{if .Submission.Listing.IsOrg}}selected{{end}} value="1">Organisation</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <p id="individual-name" class="form-control-static {{if .Submission.Listing.IsOrg}}hidden{{end}}">{{.Submission.Listing.AdminFirstName}} {{.Submission.Listing.AdminLastName}}</p>
      <input type="text" class="form-control {{if not .Submission.Listing.IsOrg}}hidden{{end}}" id="organisation-name" name="name" value="{{.Submission.Listing.Name}}" placeholder="Name">
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.Name}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <label for="addCat"class="col-sm-2 control-label">Categories</label>
    <input type="hidden" id="categories" name="categories" value="{{.Submission.Categories}}">
    <div class="col-sm-10">
      <div id="selected-categories" class="form-control-static {{if not .Submission.Listing.CatIds}}hidden{{end}}">
      {{range .Submission.Listing.CatIds}}
        {{$majorMajorCat := index $.Cats.MajorMajorCats .MajorMajorCode}}
        {{$majorCat := index $majorMajorCat.MajorCats .MajorCode}}
        {{$minorCat := index $majorCat.MinorCats .MinorCode}}
        <span class="badge" id="{{.MajorMajorCode}}.{{.MajorCode}}.{{.MinorCode}}">{{$majorMajorCat.Name}} > {{$majorCat.Name}} {{if $minorCat}}> {{$minorCat.Name}} {{end}}<span class="glyphicon glyphicon-remove remove-category"></span></span>
      {{end}}
      </div>
      <div id="add-at-least-one" class="form-control-static {{if .Submission.Listing.CatIds}}hidden{{end}}"><small>Please add at least one category.</small></div>
      <p class="form-control-static">
        <button id="addCat" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#cat-modal">Add Category</button>
      </p>
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.Category}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <label for="addImage"class="col-sm-2 control-label">Picture / Logo</label>
    <div class="col-sm-10">
      <input id="imageInput" type="hidden" name="image" value="{{.Submission.Listing.ImageId}}">
      <p id="noImage" class="form-control-static {{if .Submission.Listing.ImageId}}hidden{{end}}"><small>[No Picture / Logo]</small></p>
      <p id="imageUploading" class="form-control-static hidden"><img src="loading.gif"></p>
      <p id="image" class="form-control-static {{if not .Submission.Listing.ImageId}}hidden{{end}}">
        {{if .Submission.Listing.ImageId}}
          <image src="/image/{{.Submission.Listing.ImageId}}/small">
        {{end}}
      </p>
      <p class="form-control-static">
        <span id="uploadImage" class="btn btn-default btn-xs fileinput-button">
          <span>Upload</span>
          <input type="file" name="file">
        </span>
        <button id="cancelUpload" type="button" class="btn btn-default btn-xs hidden">Cancel</button>
        <button id="removeImage" type="button" class="btn btn-default btn-xs" {{if not .Submission.Listing.ImageId}}disabled{{end}}>Remove</button>
       </p>
       <span class="help-block">TODO Something will happen TODO. Whanganui has many <a href="#">Graphic Designers</a> who can assist. </span>
    </div>
  </div>

  <h4>Contact Details</h4>
  <p><small>Please provide at least one way for people to contact you.</small></p>
  <p><span class="help-block"><span class="text-danger">{{.Submission.Errors.Contact}}</span></span></p>

  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="phone" name="phone" value="{{.Submission.Listing.Phone}}" placeholder="Telephone">
    </div>
  </div>

  <div class="form-group">
    <label for="mobile" class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mobile" name="mobile" value="{{.Submission.Listing.Mobile}}" placeholder="Mobile">
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" name="email" value="{{.Submission.Listing.Email}}" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="websites" class="col-sm-2 control-label">Website(s)</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" id="websites" name="websites" placeholder="Websites">{{.Submission.Listing.Websites}}</textarea>
      <span class="help-block">Please enter one link per line.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Physical Address</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" id="address" name="address" placeholder="Physical Address">{{.Submission.Listing.Address}}</textarea>
    </div>
  </div>

  <h4>Service / Product Description</h4>
  <p><small>Generally describe your offering to appear in your detailed listing. The first paragraph (up to ?400? characters) will be used as a summary.</small></p>
  <div class="form-group">
    <div class="col-sm-12">
      <textarea class="form-control" rows="10" id="desc1" name="desc1" placeholder="Service / Product Description">{{.Submission.Listing.Desc1}}</textarea>
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.Desc1}}</span></span>
    </div>
  </div>


  <h4>About You or your Organisation</h4>
  <p><small>This will appear in your your detailed listing.</small></p>
  <div class="form-group">
    <div class="col-sm-12">
      <textarea class="form-control" rows="10" id="desc2" name="desc2" placeholder="About - Biography / Philosophy">{{.Submission.Listing.Desc2}}</textarea>
      <span class="help-block"><span class="text-danger">{{.Submission.Errors.Desc2}}</span></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" name="submit" value="preview" class="btn btn-default">Preview</button>
      <button type="submit" name="submit" value="submit" class="btn btn-default">Submit to Directory</button>
    </div>
  </div>

</form>


