<h1>Listing Submitted</h1>

<p>Thank you, your listing has been submitted for approval.</p>

<p>You will receive an email once we have reviewed your submission. We aim to review submissions within 48 hours.</p>