<div class="container">
  <h2>Listing Submitted</h2>

  <p>Thank you, your listing has been submitted for approval. We aim to review submissions within 48 hours.</p>

  <p>We have sent you an email confirming this. The email contains a link you can use to edit your listing.</p>
</div>