<div class="dark-bg">
  <div class="container">
    <h2>
      {{template "major-major-cat-icon" .Title}}
      {{.Title}}
    </h2>

    <div class="browse-az">
        <div><div>
    {{range .ListingSummaries}}
      {{if .Sort}}
        </div></div>
        <div class="row letter">
          <div class="col-sm-3">
            <h3>{{.Sort}}</h3>
          </div>
          <div class="col-sm-9">
            <h4 class="first"><a href="{{.Id}}">{{.Name}}</a></h4>
          </div>
          <div class="col-sm-offset-3 col-sm-9">
      {{else}}
            <h4><a href="/listing/{{.Id}}">{{.Name}}</a></h4>
      {{end}}
    {{end}}
        </div>
  </div>
</div>
