<div class="container">
  <div class="row">
    {{if and (not .MinorCat) (.MajorCat.MinorCats) }}
    <div class="col-lg-3">
    </div>
    {{end}}
    <div class="col-lg-{{if and (not .MinorCat) (.MajorCat.MinorCats) }}9{{ else }}12{{end}}">
      <h2 class="summaries-bread">
        {{/* These breadcrumbs are sublty different from the ones on the listing page */}}
        {{template "major-major-cat-icon" .MajorMajorCat.Name}} <a href="../..">{{ .MajorMajorCat.Name }}</a>
        {{if .MinorCat}}
          &#9656; <a href="../none/">{{.MajorCat.Name}}</a> &#9656; {{.MinorCat.Name}}
        {{else}}
          &#9656; {{.MajorCat.Name}}
        {{end}}
      </h2>
    </div>
  </div>
  <div class="row">
    {{if and (not .MinorCat) (.MajorCat.MinorCats) }}
    <div class="col-lg-3 sub-categories">
        <h3>Sub-categories</h3>
        <div class="row">
          {{range .MajorCat.MinorCatKeys}}
            <div class="col-sm-6"><a href="../{{.}}/">{{with index $.MajorCat.MinorCats .}}{{.Name}}{{end}}</a></div>
          {{end}}
        </div>
    </div>
    {{end}}
    <div class="col-lg-{{if and (not .MinorCat) (.MajorCat.MinorCats) }}9{{ else }}12{{end}}">
      {{template "summaries" .}}
    </div>
  </div>
</div>
