<div class="container listing">

  {{template "preview-review" .}}

  <h1>{{.Listing.Name}}</h1>

  <h3 class="listing-bread">
    {{template "major-major-cat-icon" .MajorMajorCat.Name}} <a href="../..">{{.MajorMajorCat.Name}}</a>
    &#9656;
    {{if .MinorCat}}
      <a href=".">{{.MajorCat.Name}}</a> &#9656; {{.MinorCat.Name}}
    {{else}}
      {{.MajorCat.Name}}
    {{end}}
  </h3>

  <div class="row">
      <div class="col-md-6">
        <div class="col-xs-6 no-left-pad">
          {{if .Listing.ImageId}}
            <img class="logo" src="/image/{{.Listing.ImageId}}/large">
          {{else}}
              {{template "no-logo" .Listing.IsOrg}}
          {{end}}
        </div>
        <div class="col-xs-6">
          <h5>Categories</h5>
          {{range .Listing.CatIds}}
              <div><span class="label label-info"><a href="{{.URL}}">{{.Name}}</a></span></div>
          {{end}}

          <h5>Contact</h5>
          <table class="contact">
          {{if .Listing.Phone}}
            <tr>
              <td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></td>
              <td>{{.Listing.Phone}}</td>
            </tr>
          {{end}}

          {{if .Listing.Mobile}}
            <tr>
              <td><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
              <td>{{.Listing.Mobile}}</td>
            </tr>
          {{end}}

          {{if .Listing.Email}}
            <tr>
              <td><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span></td>
              <td>{{.Listing.Email}}</td>
            </tr>
          {{end}}


          {{range .Listing.EachWebsite}}
            <tr>
              <td><span class="glyphicon glyphicon-{{.Icon}}" aria-hidden="true"></span></td>
              <td>{{.URL}}</td>
            </tr>
          {{end}}

          {{if .Listing.Address}}
            <tr>
              <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
              <td>{{para .Listing.Address}}</td>
            </tr>
          {{end}}
          </table>

        </div>
      </div>
      <div class="col-md-6">
        {{para .Listing.Desc1}}

        <h5>About {{.Listing.Name}}</h5>
        {{para .Listing.Desc2}}

      </div>
  </div>

  {{template "preview-review" .}}
</div>
