<div class="dark-bg">
  <div class="container">
    <h2>{{template "major-major-cat-icon" .MajorMajorCat.Name}} {{.MajorMajorCat.Name}}</h2>

    <div class="row browse-major">
    {{range .MajorMajorCat.MajorCatKeys}}
        {{$majorCatCode := .}}
        {{$majorCat := index $.MajorMajorCat.MajorCats .}}
        {{if $majorCat.ListingCount}}
        <div class="col-sm-6">
          <div class="major">
            <a href="{{$majorCatCode}}/none/"><h5>{{$majorCat.Name}}</h5></a>
            {{range $majorCat.MinorCatKeys}}
                {{$minorCat := index $majorCat.MinorCats .}}
                {{if $minorCat.ListingCount}}
                <div class="minor"><a href="{{$majorCatCode}}/{{.}}/">{{$minorCat.Name}}</a></div>
                {{end}}
            {{end}}
          </div>
        </div>
        {{end}}
    {{end}}
    </div>
  </div>
</div>
