<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <h2 class="summaries-bread">
        {{template "major-major-cat-icon" .MajorMajorCat.Name}}
        <a href="../..">{{ .MajorMajorCat.Name }}</a>
        &#9656;
        {{if .MinorCat}}
          <a href=".">{{.MajorCat.Name}}</a> &#9656; {{.MinorCat.Name}}
        {{else}}
          {{.MajorCat.Name}}
        {{end}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 sub-categories">
      {{if and (not .MinorCat) (.MajorCat.MinorCats) }}
        <h3>Sub-categories</h3>
        {{range .MajorCat.MinorCatKeys}}
          <div><a href="../{{.}}">{{with index $.MajorCat.MinorCats .}}{{.Name}}{{end}}</a></div>
        {{end}}
      {{end}}
      TODO breakpoints
    </div>
    <div class="col-md-9">
      <div>
        {{range .ListingSummaries}}
          <div class="row listing-summary">
            <div class="col-xs-3">
              <a href="{{.Id}}">
                {{if .ImageId}}
                  <img class="listing-image" src="/image/{{.ImageId}}/small">
                {{else}}
                    {{template "no-logo" .IsOrg}}
                {{end}}
              </a>
            </div>

            <div class="col-xs-9">
              <div class="pull-right">{{if .IsOrg}}Organisation{{else}}Individual{{end}}</div>
              <h3><a href={{.Id}}>{{.Name}}</a></h3>
              <p>{{shortDesc .ShortDesc}}</p>
              <h5><a href={{.Id}}>View more..</a></h5>
            </div>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
