<div class="container listing">

  {{template "preview-review" .}}

  <h1>{{.Listing.Name}}</h1>

  {{if .MajorMajorCatName }}
  <h3 class="listing-bread">
    {{/* These breadcrumbs are sublty different from the ones on the summaries page */}}
    {{template "major-major-cat-icon" .MajorMajorCatName}} <a href="{{.MajorMajorCatURL}}">{{.MajorMajorCatName}}</a>
    {{if .MajorCat}}
      &#9656; <a href="../none/">{{.MajorCat.Name}}</a>
    {{end}}
    {{if .MinorCat}}
      &#9656; <a href=".">{{.MinorCat.Name}}</a>
    {{end}}
  </h3>
  {{ end}}

  <div class="row">
      <div class="col-md-6">
        <div class="col-sm-6 no-left-pad">
          {{if .Listing.ImageId}}
            <img class="img-responsive" src="/image/{{.Listing.ImageId}}/large">
          {{else}}
              {{template "no-logo" .Listing.IsOrg}}
          {{end}}
        </div>
        <div class="col-sm-6">
          <h5>Categories</h5>
          {{range .Listing.CatIds}}
              <div><span class="label label-info"><a href="{{.URL}}">{{.Name}}</a></span></div>
          {{end}}

          <h5>Contact</h5>
          <table class="contact">
          {{if .Listing.Phone}}
            <tr>
              <td class="icon"><span class="entypo" aria-hidden="true">&#128222;</span></td>
              <td class="detail">{{.Listing.Phone}}</td>
            </tr>
          {{end}}

          {{if .Listing.Mobile}}
            <tr>
              <td class="icon"><span class="entypo" aria-hidden="true">&#128241;</span></td>
              <td class="detail">{{.Listing.Mobile}}</td>
            </tr>
          {{end}}

          {{if .Listing.Email}}
            <tr>
              <td class="icon"><span class="entypo" aria-hidden="true">&#9993;</span></td>
              <td class="detail">{{.Listing.Email}}</td>
            </tr>
          {{end}}


          {{range .Listing.EachWebsite}}
            <tr>
              <td class="icon"><span class="{{.Font}}" aria-hidden="true">{{.Icon}}</span></td>
              <td class="detail"><a href="{{.URL}}">{{.Label}}</a></td>
            </tr>
          {{end}}

          {{if .Listing.Address}}
            <tr>
              <td class="icon"><span class="entypo" aria-hidden="true">&#8962;</span></td>
              <td class="detail">{{para .Listing.Address}}</td>
            </tr>
          {{end}}
          </table>

        </div>
      </div>
      <div class="col-md-6">
        {{para .Listing.Desc1}}

        <h5>About {{.Listing.Name}}</h5>
        {{para .Listing.Desc2}}

      </div>
  </div>

  {{template "preview-review" .}}
</div>
