{{template "searchbox"}}

<h1>{{.MajorCat.Name}} {{if .MinorCat}}/ {{.MinorCat.Name}}{{end}}</h1>

<ol class="breadcrumb">
  <li><a href="/">Browse</a></li>
  <li><a href="../..">{{.MajorMajorCat.Name}}</a></li>
  <li class="active">{{.MajorCat.Name}}</li>
  {{if .MinorCat}}<li class="active">{{.MinorCat.Name}}</li>{{end}}
</ol>

<div class="row">
{{range .ListingSummaries}}
    <div class="media">
      <a class="media-left" href="{{.Id}}">
        {{if .ImageId}}<img src="/image/{{.ImageId}}/small">{{else}}None{{end}}
      </a>
      <div class="media-body">
        <div class="pull-right">{{if .IsOrg}}Organisation{{else}}Individual{{end}}</div>
        <h4 class="media-heading"><a href={{.Id}}>{{.Name}}</a></h4>
        {{shortDesc .ShortDesc}}
      </div>
    </div>

{{end}}
</div>

