<div class="dark-bg">
  <div class="container">
    <h2>
      {{if eq .MajorMajorCat.Name "Services"}}
        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
      {{else}}
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      {{end}}
      {{.MajorMajorCat.Name}}
    </h2>

    <div class="row browse-major">
    {{range .MajorMajorCat.MajorCatKeys}}
        {{$majorCatCode := .}}
        {{$majorCat := index $.MajorMajorCat.MajorCats .}}
        <div class="col-md-6">
          <div class="major">
            <a href="{{$majorCatCode}}/none/"><h5>{{$majorCat.Name}}</h5></a>
            {{range $majorCat.MinorCatKeys}}
                {{$minorCat := index $majorCat.MinorCats .}}
                <div class="minor"><a href="{{$majorCatCode}}/{{.}}/">{{$minorCat.Name}}</a></div>
            {{end}}
          </div>
        </div>
    {{end}}
    </div>
  </div>
</div>
