{{if .Preview}}
    <form method="POST">
        <input type="hidden" name="fromPreview" value="true">
        <div class="alert alert-info" role="alert">
            <strong>Listing Preview</strong>
            <button type="submit" name="submit" value="edit" class="btn btn-sm btn-default">Edit</button>
            <button type="submit" name="submit" value="save" class="btn btn-sm btn-default">Save for Later</button>
            <button type="submit" name="submit" value="submit" class="btn btn-sm btn-default">Submit to Directory</button>
        </div>
{{end}}

<h1>{{.Listing.Name}}</h1>

{{if not .Preview}}
    <ol class="breadcrumb">
      <li><a href="/">Browse</a></li>
      <li><a href="../..">{{.MajorMajorCat.Name}}</a></li>
      <li><a href="../none/">{{.MajorCat.Name}}</a></li>
      {{if .MinorCat}}<li><a href="../">{{.MinorCat.Name}}</a></li>{{end}}
    </ol>
{{end}}

<div class="row">
    <div class="col-sm-3"><label>Telephone</label></div>
    <div class="col-sm-9">{{.Listing.Phone}}</div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Email</label></div>
    <div class="col-sm-9">{{.Listing.Email}}</div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Websites</label></div>
    <div class="col-sm-9">{{.Listing.Websites}}</div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Address</label></div>
    <div class="col-sm-9">{{.Listing.Address}}</div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Service / Product Description</label></div>
    <div class="col-sm-9">{{.Listing.Desc1}}</div>
</div>
<div class="row">
    <div class="col-sm-3"><label>About - Biography / Philosophy</label></div>
    <div class="col-sm-9">{{.Listing.Desc2}}</div>
</div>

{{if .Preview}}
        <div class="alert alert-info" role="alert">
            <strong>Listing Preview</strong>
            <button type="submit" name="submit" value="edit" class="btn btn-sm btn-default">Edit</button>
            <button type="submit" name="submit" value="save" class="btn btn-sm btn-default">Save for Later</button>
            <button type="submit" name="submit" value="submit" class="btn btn-sm btn-default">Submit to Directory</button>
        </div>
    </form>
{{end}}