
<div class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Browse</h2>
          <div class="row browse-panels">

            <div class="col-sm-6">
              <a href="/browse/services/">
                <div class="services-panel-logo">
                    {{template "major-major-cat-icon" "Services"}}
                </div>
                <div class="services-panel-text">
                  <h3>Services</h3>
                  <p>Skills, talents and services useful to advise and shape digital futures.</p>
                </div>
              </a>
            </div>
          </a>

          <div class="col-sm-6">
            <a href="/browse/products/">
              <div class="products-panel-logo">
                {{template "major-major-cat-icon" "Products"}}
              </div>
              <div class="products-panel-text">
                <h3>Products</h3>
                <p>Hardware, software and accessories to make digital happen.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-6">
            <a href="/individuals/">
              <div class="individuals-panel-logo">
                {{template "major-major-cat-icon" "Individuals"}}
              </div>
              <div class="individuals-panel-text">
                <h3>Individuals</h3>
                <p>Free-lancers, e-lancers and other independent operators.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-6">
            <a href="/organisations/">
              <div class="organisations-panel-logo">
                {{template "major-major-cat-icon" "Organisations"}}
              </div>
              <div class="organisations-panel-text">
                <h3>Organisations</h3>
                <p>Supplier and vendor companies, government organisations, community organisations and tertiary educators.</p>
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="feat-img">
          <div class="feat-img-head">
            <h3>Feature Image</h3>
            <!--Created by Olum Modi-->
            <div class="feat-img-head-bg">&nbsp;</div>
          </div>
          <img class="img-responsive" src="/feat/odum.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container sponsors">
    <h3>Principal Sponsors</h3>

    <div class="row">
        <div class="col-lg-4 text-center col-lg-offset-2 sponsor">
            <a href="http://www.whanganui.govt.nz/"><img class="" alt="Whanganui District Council" src="/wdc.png"></a>
        </div>
        <div class="col-lg-4 text-center sponsor">
            <a href="http://www.ucol.ac.nz/"><img class="" alt="Universal College of Learning" src="/ucol.png"></a>
        </div>
    </div>
</div>
