<div class="dark-bg">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 id="faq-artwork">What are the specifications for logos and images in the directory?</h3>
      <p>Below are the specifications for logos and images uploaded to the directory. You probably don't need to understand these &ndash; just upload your image and see if it works and looks good.</p>
      <p>Images must be in the JPEG, PNG or GIF format and can be up to 10MB in size. Generally you will want to use a JPEG for a photo, or a PNG for a logo.</p>
      <p>Images must be at least 692 pixels wide or 606 pixels high. The image will be scaled automatically to fit in a 692x606px and 255x223px box (8:9 aspect ratio).</p>
      <p>Images are displayed on a white background. So if you have multiple versions, upload one appropriate for use on light backgrounds.</p>
      <p>If you need assistance preparing your image, we suggest you contact one of Whanganui's talented <a href="/browse/services/design/none/">Graphic Designers</a>.</p>

      <h3 id="faq-feedback">Where can I send feedback about this website?</h3>
      <p>Please contact {{obfEmail "digitalwhanganui@digitalwhanganui.org.nz" "Shane"}}.</p>

      <h3 id="faq-feedback">How do I edit my listing?</h3>
      <p>Click on the 'edit link' that was emailed to you when you created or last edited your listing. If you have lost that email, go <a href="/login/lost">here</a> to get a new link.</p>

    </div>
  </div>
</div>