{{if eq . "Services"}}
  <span class="entypo" aria-hidden="true">&#9881;</span>
{{else if eq . "Products"}}
  <span class="entypo" aria-hidden="true">&#59197;</span>
{{else if eq . "Individuals"}}
  <span class="entypo" aria-hidden="true">&#128100;</span>
{{else if eq . "Organisations"}}
  <span class="entypo" aria-hidden="true">&#128101;</span>
{{else}}
  <span class="entypo" aria-hidden="true">&#128165;</span>
{{end}}