<div class="container">
  <h1>New Login Link</h1>

  <p>We don't have anyone registered under that email address.</p>

  <p><button class="btn btn-default" onclick="window.history.back()">Try again</button></p>
</div>