<div class="no-logo">
  <div class="no-logo2">
    <div class="no-logo3">
    {{if eq . true}}
      {{template "major-major-cat-icon" "Organisations"}}
    {{else}}
      {{template "major-major-cat-icon" "Individuals"}}
    {{end}}
    </div>
  </div>
</div>