<div class="no-logo">
    {{if eq . true}}
    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
    {{else}}
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {{end}}
    <div style="font-size: 12px">TODO size?</div>
</div>