{{if .Preview}}
  <form method="POST">
      <input type="hidden" name="fromPreview" value="true">
      <div class="alert alert-info" role="alert">
          <div>
              <button type="submit" name="submit" value="edit" class="btn btn-sm btn-preview-edit">
                <b><span class="entypo" aria-hidden="true">&#9998;</span> Edit</b>
              </button>
              <button type="submit" name="submit" value="submit" class="btn btn-sm btn-preview">
                <b><span class="entypo" aria-hidden="true">&#128190;</span> Submit</button></b>
          </div>
      </div>
  </form>
{{end}}

{{if .Review}}
  <form method="POST" class="form-inline">
      <div class="alert alert-info" role="alert">
          <table style="width: 100%">
              <tr>
                  <td><strong>Listing Review:</strong></td>
                  <td style="text-align: right">
                      Current Status:
                          {{if eq .Listing.Status 0}}
                              New&nbsp;&nbsp;
                              <input class="btn btn-sm btn-default" type="submit" name="action" value="Accept">
                              <input class="btn btn-sm btn-default" type="submit" name="action" value="Reject">
                          {{end}}
                          {{if eq .Listing.Status 1}}
                              Accepted&nbsp;&nbsp;
                              <input class="btn btn-sm btn-default" type="submit" name="action" value="Reject">
                          {{end}}
                          {{if eq .Listing.Status 2}}
                              Rejected&nbsp;&nbsp;
                              <input class="btn btn-sm btn-default" type="submit" name="action" value="Accept">
                          {{end}}
                          {{if eq .Listing.Status 3}}Expired{{end}}

                      &nbsp;&nbsp;<a href=".">Return to Review List</a>
                  </td>
              </tr>
          </table>
          <div>
              Contact:
              {{.Listing.AdminFirstName}} {{.Listing.AdminLastName}} &lt;{{.Listing.AdminEmail}}&gt;
              &nbsp;&nbsp;Telephone: {{.Listing.AdminPhone}}
          </div>
      </div>
  </form>
{{end}}