<div class="container">
  {{define "List"}}
    {{if .}}
      <table class="table table-striped">
        <tr>
          <th width="70%">Name</th>
          <th width="30%">Last Edited</th>
        </tr>
        {{range .}}
          <tr>
            <td><a href="{{.Id}}">{{.Name}}</a></td>
            <td>{{formatTime .Updated}}</td>
          </tr>
        {{end}}
      </table>
    {{else}}
      <p><i>No listings.</i></p>
    {{end}}
  {{end}}


  <h2>{{.Title}}</h2>

  <h3>New Listings</h3>
  {{template "List" .NewListings}}

  <h3>Accepted Listings</h3>
  {{template "List" .AcceptedListings}}

  <h3>Rejected Listings</h3>
  {{template "List" .RejectedListings}}

  <h3>Expired Listings</h3>
  {{template "List" .ExpiredListings}}

  <h2>Export</h2>
  <p><a href="/export">Export</a> list for WRC Coordinator.</p>


</div>
