<div class="dark-bg search-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2><span class="entypo" aria-hidden="true">&#128294;</span> Search</h2>
      </div>
      <div class="col-sm-9">
        <form class="form" role="form" action="/search/">
          <div class="form-group col-sm-10">
            <label class="sr-only" for="search3">Search</label>
            <input id="search3" type="text" class="form-control search-input" name="q" value="{{.SearchQuery}}" placeholder="&#128269;">
          </div>
          <div class="form-group col-sm-2">
            <button type="submit" class="form-control btn btn-default">Find</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
{{if .ListingSummaries}}
  {{template "summaries" .}}
{{else}}
  <div class="col-xs-12">
    <h3><i>No listings matching your search found.</i></h3>
  </div>
{{end}}

  </div>
</div>