<p>Dear {{.FirstName}},</p>

<p>Your DigitalWhanganui listing has been accepted and published. You can view your listing
<a href="http://xyzzy.digitalwhanganui.org.nz/listing/{{.Id}}">here</a>.</p>

<p>To keep your listing active, you need to review your listing once every 6
months. We will send you an email reminder shortly before then.<p>

<p>You can edit your listing at any time by following this link:
<a href="{{.LoginLink}}">{{.LoginLink}}</a></p>

<p>Have a great day,</p>

<p>The DigitalWhanganui Team</p>
